body{
    margin: -10px;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 90vh;
}
.ui{
    list-style-type: none;
    display: flex;
    justify-content: end;
    padding-left: 20px;
}
.li{
    padding-left: 100px;
    text-decoration: none;
}
.link{
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
}
.container2{
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.app{
   
    width: 100%;
    height: 80vh;
}

.compo{
   
    width: auto;
}

.btn{

    height: 20px;
    display: flex;
    align-items:flex-end;
    justify-content: center;

}
.btnn{
    border-radius: 8px;
    font-weight: 700;
    margin-left: 20px;
    border: none;
    width: 100px;
    height: 50px;
    
    cursor: pointer;
    background-color: aquamarine;
} 


.render{
  
    display: flex;
    width: 96%;
    height: 70vh;
    justify-content: center;
    margin-left: 30px;
   
    
}
.container{
   width: 50px;
   height: inherit;
   margin-right: -50px;
   

}
img{
    margin-left: -300px;
    margin-right: -500px;
    
}